.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
}

.done {
    color: #00CCCC;
  }

  .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
    width: 276px;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    column-gap: 8px;
  }
