.title {
  text-align: center;
}

.main {
  width: 100%;
  max-width: 1240px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 60px;
  margin: 120px auto 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  width: 480px;
}

.form > div {
  width: 100%;
}

.form > div > div {
  width: 100%;
}

.link {
  height: 64px;
  color: #4c4cff;
  cursor: pointer;
  transition: opacity 1s ease;
  text-decoration: none;
  margin: 0;
  justify-self: center;
}

.link:hover {
  opacity: 0.6;
}

.error {
  color: #990000;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 320px;
}

/* .menu {
    width: 25%;
} */

