.ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 272px;
  position: relative;
  cursor: pointer;
  transition: opacity 1s ease;
}

.ingredient:hover {
  opacity: 0.6;
}

.title {
  text-align: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

.price {
  display: flex;
}
